body {
    background: black;
    font-family: "Verdana", monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body:visited {
    color: white;
}

.slider {
    appearance: none;
    width: 50%; /* Full-width */
    height: 5px; /* Specified height */
    border-radius: 20px;

    background: black; /* Grey background */
    outline: none; /* Remove outline */
    transition: opacity .2s;
}

.card {
    border: 0px;
    padding: 20px;
    margin: 70px;
    /*width: 80%;*/
    background: rgb(100, 100, 100, 0.3);
    color: rgb(200, 200, 200);
}

.hlink {
    border: 0px;
    padding: 5px;
    margin: 4px;
    background: rgb(100, 100, 100, 0.2);
    color: rgb(142, 173, 255);
}

.hlink:visited {
    color: white;
}

.subcard {
    border: 0px;
    padding: 10px;
    margin: 10px;
    background: rgb(0, 0, 5, 0.77);
    color: rgb(200, 200, 200);
}

.header {
    font-size: 32px;
    color: rgb(233, 233, 233);
}

.subheader {
    font-size: 24px;
    color: rgb(233, 233, 233);
}

.img {
    height: 600px;
    opacity: 0.7;
}

.mainbody {
    border: 0px;
    padding: 20px;
    margin: 70px;
    background: rgb(200, 200, 200, 0.3);
    color: rgb(255, 130, 130);
}


.collapsible {
    background-color: #111;
    color: #ccc;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #444;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 6px;
    display: none;
    overflow: hidden;
}

.collidable {

}

a:visited {
    color: indianred;
}

a:link {
    color: lightblue;
}

a:hover {
    color: hotpink;
}